{% extends '::base.html.twig' %}

{% block body %}
<h2>Hello dude! Please LogIn </h2>
    <p>
    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </p>
{% endblock %}